.ais-SearchBox-input {
  border: none;
  width: 100%;
  max-width: 500px;
  background: transparent;
  outline: none;
  height: 56px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: var(--text-md);
  color: #fff;
  font-family: inherit;
  border: 2px solid #6660;
  transition: 0.2s ease;
  border-radius: 8px;
}

.ais-SearchBox-input:focus {
  border-color: #666;
}

.ais-searchbox-wrapper .ais-SearchBox-input {
  max-width: 100%;
}

.ais-SearchBox-reset,
.ais-SearchBox-submit {
  display: none;
}

.ais-search-list-absolute {
  position: absolute;
  width: 100%;
  background-color: #333;
  z-index: 1;
  border-radius: 5px;
  top: calc(100% + 5px);
  padding: 1rem;
}

.ais-Hits-list {
  padding: 0;
  margin: 0;
}

.ais-Hits-item {
  list-style-type: none;
  padding: 0.5rem 0;
}

.ais-Hits-item:not(:first-child) {
  border-top: 1px solid #999;
}

.ais-Highlight-highlighted,
.ais-Snippet-highlighted {
  text-decoration: underline;
  color: #fff;
}

.ais-Snippet-nonHighlighted {
  color: #aaa;
}

.ais-Highlight-nonHighlighted {
  color: #fff;
}

.speakers-grid .ais-Hits-list {
  margin: 50px auto;
  padding: 0 24px;
  width: 100%;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 24px;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.speakers-grid .ais-Hits-item {
  border-top: none;
}

@media (min-width: 768px) {
  .speakers-grid .ais-Hits-list {
    padding: 0 var(--space-8x);
  }
}

.speakers-grid .ais-Hits-list::-webkit-scrollbar {
  display: none;
}

.hit-transition {
  opacity: 0;
  animation: fade-in 1s ease-in-out forwards;
}

.ReactModal__Overlay {
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.search-cmpt-result-box-list {
  padding: 0 0.5rem;
  max-height: 300px;
  overflow: auto;
}

.search-cmpt-result-box-list::-webkit-scrollbar {
  width: 5px;
}

.search-cmpt-result-box-list::-webkit-scrollbar-thumb {
  background-color: #666;
  border-radius: 5px;
}

.search-cmpt-result-box-link {
  padding: 1rem;
  background-color: #333;
  border-radius: 8px;
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  transition: 0.2s ease;
}

.search-cmpt-result-box-link:nth-child(1) {
  margin-top: 1.5rem;
}

.search-cmpt-result-box-link-title {
  transition: 0.2s ease;
  color: #8a8f98;
  margin: 0 1rem;
  flex: 1;
}

.search-cmpt-result-box-link-sub-title {
  color: #8a8f98;
}

.search-cmpt-result-box-link:hover {
  background-color: #444;
}

.search-cmpt-result-box-link:hover .search-cmpt-result-box-link-title {
  color: #fff;
}

.search-cmpt-result-box-link-icon {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-cmpt-result-box-link .search-cmpt-result-box-link-icon path {
  fill: #8a8f98;
  transition: fill 0.2s ease;
}

.search-cmpt-result-box-link:hover .search-cmpt-result-box-link-icon path {
  fill: #fff;
}
